services:
  postgres:
    image: supabase/postgres:15.1.0.117
    container_name: pale-postgres
    ports:
      - "54322:5432"
    environment:
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      POSTGRES_DB: ${PGDATABASE}
    volumes:
      - postgres-data:/var/lib/postgresql/data
      # for init scripts and db setup
      - ./init/init.sh:/docker-entrypoint-initdb.d/init.sh
      - ./init/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
